.react-autocomplete-dropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    ul,
    li {
        margin: 0;
        padding: 0;
    }

    &--active {
        display: block;
    }

    &__list {
      width: 100px;
      overflow: scroll;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    }

    &__item {
        text-indent: 10px;
        height: 18px;
        line-height: 18px;
        font-size: 12px;

        &:hover {
            cursor: pointer;
            background-color: #ececec;
        }
    }
}
